<header>
  <mat-toolbar>
    <button mat-icon-button aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Автоблок</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Logout" [hidden]="!loggedIn" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</header>

<section class="content">
  <app-login-form [hidden]="loggedIn"></app-login-form>
  <div *ngIf="loggedIn && loadingDone">
    <app-manage-lists *ngIf="whitelisted() | async"></app-manage-lists>
    <div *ngIf="whitelistCheckDone && !(whitelisted() | async)">
      <h1>Вибачте, у вас немає доступу до цього сервісу</h1>
      <p *ngIf="whitelistedMessage() | async">
        {{whitelistedMessage() | async}}
      </p>
    </div>
  </div>
</section>
