<header>
  <mat-toolbar>
    <button mat-icon-button aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Автоблок</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Logout" [hidden]="!loggedIn" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</header>

<section class="content">
  <app-login-form [hidden]="loggedIn"></app-login-form>
  <div [hidden]="!loggedIn">
    <app-manage-lists [hidden]="!loadingDone || !(whitelisted() | async)"></app-manage-lists>
    <h1 [hidden]="!loadingDone || (whitelisted() | async)">Вибачте, у вас немає доступу до цього сервісу</h1>
  </div>
</section>
